<div class="container">
    <form class="form-horizontal" method="post">
<fieldset>

<!-- Form Name -->
<legend>Voter list search {{#if results}}(Max 100 results shown){{/if}}</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="idno">Voter ID</label>
  <div class="col-md-4">
  <input id="idno" name="idno" placeholder="EPIC number" class="form-control input-md" type="text">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="ename">Name</label>
  <div class="col-md-4">
  <input id="ename" name="ename" placeholder="Voter's name" class="form-control input-md" type="text">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="rname">Relative's name</label>
  <div class="col-md-4">
  <input id="rname" name="rname" placeholder="Relative's name" class="form-control input-md" type="text">

  </div>
</div>

<!-- Multiple Radios (inline) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="sex">Gender</label>
  <div class="col-md-4">
    <label class="radio-inline" for="sex-0">
      <input name="sex" id="sex-0" value="M" type="radio">
      M
    </label>
    <label class="radio-inline" for="sex-1">
      <input name="sex" id="sex-1" value="F" type="radio">
      F
    </label>
    <label class="radio-inline" for="sex-2">
      <input name="sex" id="sex-2" value="O" type="radio">
      O
    </label>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="acno">Assembly</label>
  <div class="col-md-4">
    <select id="acno" name="acno" class="form-control">
      <option value="0">Search all</option>
      <option value="1">Narela</option>
      <option value="2">Burari</option>
      <option value="3">Timarpur</option>
      <option value="4">Adarsh Nagar</option>
      <option value="5">Badli</option>
      <option value="6">Rithala</option>
      <option value="7">Bawana</option>
      <option value="8">Mundka</option>
      <option value="9">Kirari</option>
      <option value="10">Sultan Pur Majra</option>
      <option value="11">Nangloi Jat</option>
      <option value="12">Mangol Puri</option>
      <option value="13">Rohini</option>
      <option value="14">Shalimar Bagh</option>
      <option value="15">Shakur Basti</option>
      <option value="16">Tri Nagar</option>
      <option value="17">Wazirpur</option>
      <option value="18">Model Town</option>
      <option value="19">Sadar Bazar</option>
      <option value="20">Chandni Chowk</option>
      <option value="21">Matia Mahal</option>
      <option value="22">Ballimaran</option>
      <option value="23">Karol Bagh</option>
      <option value="24">Patel Nagar</option>
      <option value="25">Moti Nagar</option>
      <option value="26">Madipur</option>
      <option value="27">Rajouri Garden</option>
      <option value="28">Hari Nagar</option>
      <option value="29">Tilak Nagar</option>
      <option value="30">Janakpuri</option>
      <option value="31">Vikaspuri</option>
      <option value="32">Uttam Nagar</option>
      <option value="33">Dwarka</option>
      <option value="34">Matiala</option>
      <option value="35">Najafgarh</option>
      <option value="36">Bijwasan</option>
      <option value="37">Palam</option>
      <option value="38">Delhi Cantonment</option>
      <option value="39">Rajinder Nagar</option>
      <option value="40">New Delhi</option>
      <option value="41">Jangpura</option>
      <option value="42">Kasturba Nagar</option>
      <option value="43">Malviya Nagar</option>
      <option value="44">R K Puram</option>
      <option value="45">Mehrauli</option>
      <option value="46">Chhatarpur</option>
      <option value="47">Deoli</option>
      <option value="48">Ambedkar Nagar</option>
      <option value="49">Sangam Vihar</option>
      <option value="50">Greater Kailash</option>
      <option value="51">Kalkaji</option>
      <option value="52">Tughlakabad</option>
      <option value="53">Badarpur</option>
      <option value="54">Okhla</option>
      <option value="55">Trilokpuri</option>
      <option value="56">Kondli</option>
      <option value="57">Patparganj</option>
      <option value="58">Laxmi Nagar</option>
      <option value="59">Vishwas Nagar</option>
      <option value="60">Krishna Nagar</option>
      <option value="61">Gandhi Nagar</option>
      <option value="62">Shahdara</option>
      <option value="63">Seemapuri</option>
      <option value="64">Rohtas Nagar</option>
      <option value="65">Seelampur</option>
      <option value="66">Ghonda</option>
      <option value="67">Babarpur</option>
      <option value="68">Gokalpur</option>
      <option value="69">Mustafabad</option>
      <option value="70">Karawal Nagar</option>
    </select>
  </div>
</div>
<div class="table-responsive" align="center">
<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
    <button id="submit" name="submit" class="btn btn-primary">Submit</button>
  </div>
</div>

</fieldset>
</form>
{{#if results}}
<div class="table-responsive" align="center">
    <table class="table table-condensed display compact table-striped" id="voterlist" cellpadding="0" cellspacing="0">
    <thead>
    <tr>
      <th class="col-md-1">AC No.</th>
      <th class="col-md-1">Part No.</th>
      <th class="col-md-1">Sl. No.</th>
      <th class="col-md-2">EPIC</th>
      <th class="col-md-3">Name</th>
      <th class="col-md-2">RName</th>
      <th class="col-md-1">House No.</th>
      <th class="col-md-1">Section No.</th>
    </tr>
   </thead>
   <tbody>
    {{#each voters}}
    <tr>
      <td class="col-md-1">{{acno}}</td>
      <td class="col-md-1">{{partno}}</td>
      <td class="col-md-1">{{sno}}</td>
      <td class="col-md-2"><a onclick="secInfo('{{acno}}', '{{partno}}', '{{section}}'); return false;" href="#">{{idno}}</a></td>
      <td class="col-md-3">{{ename}}</td>
      <td class="col-md-2">{{rname}}</td>
      <td class="col-md-1">{{houseno}}</td>
      <td class="col-md-1">{{section}}</td>
    </tr>
    {{/each}}
   </tbody>
   </table>
</div>
{{/if}}
</div>
{{#if results}}
<script type="text/javascript">
$(document).ready(function() {
  $('#voterlist').DataTable({
    "lengthMenu": [[100, 50, 10, -1], [100, 50, 10, "All"]],
    //"columnDefs": [{ "targets": [ 2 ], "visible": false}]
    });
  });

  function secInfo(acno, partno, secno){
      $.get('/info/' + acno + '/' + partno + '/' + secno, function(data, status){
          bootbox.dialog({
                title: "Section Info",
                message: data
                });
      });
  }
 </script>
 {{/if}}
