<table class="table table-condensed display compact table-striped" id="seclist" cellpadding="0" cellspacing="0">
<tbody>
    <tr>
        <td><b>AC</b></td>
        <td>{{acname}} (AC No: {{acno}})</td>
    </tr>
    <tr>
        <td><b>Part</b></td>
        <td>{{partname}} (Part No: {{partno}})</td>
    </tr>
    <tr>
        <td><b>Section</b></td>
        <td>{{secname}} (Section No: {{section}})</td>
    </tr>
</tbody>
</table>
